#skewX {
    animation: skewX 4s infinite;
}

@keyframes skewX {
    0% {
        transform: skewX(0);
    }
    50% {
        transform: skewX(30deg);
    }
    100% {
        transform: skewX(0);
    }
}