#skewY {
    animation: skewY 4s infinite;
}

@keyframes skewY {
    0% {
        transform: skewY(0);
    }
    50% {
        transform: skewY(30deg);
    }
    100% {
        transform: skewY(0);
    }
}