#translateX {
    animation: translateX 4s infinite;
}

@keyframes translateX {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0);
    }
}